In [2]:
import numpy as np
import pandas as pd

foodtruck_df = pd.read_csv('전국푸드트럭허가구역표준데이터.csv',encoding='cp949')
foodtruck_df.head()

,허가구역명,장소유형,시도명,시군구명,소재지도로명주소,소재지지번주소,위도,경도,푸드트럭운영대수,허가구역사용료,...,11월운영시작시각,11월운영종료시각,12월운영시작시각,12월운영종료시각,판매제한품목,관리기관명,관리기관전화번호,데이터기준일자,제공기관코드,제공기관명
0,부산대학교내 장승터,6,부산광역시,금정구,부산광역시 금정구 부산대학로 63번길 2,부산광역시 금정구 장전동 40,35.232243,129.083825,1.0,0,...,00:00,00:00,00:00,00:00,NaN,부산광역시 금정구청,051-519-4414,2021-10-25,3350000,부산광역시 금정구
1,금양초등학교,6,부산광역시,금정구,부산광역시 금정구 중앙대로 1755,부산광역시 금정구 부곡동 63-27,35.241236,129.092025,1.0,0,...,00:00,00:00,00:00,00:00,NaN,부산광역시 금정구청,051-519-4414,2021-10-25,3350000,부산광역시 금정구
2,부산가톨릭대학교 로사리오광장,6,부산광역시,금정구,"부산광역시 금정구 오륜대로 57, 부산가톨릭대학교 로사리오광장 (부곡동)",부산광역시 금정구 부곡동 9,35.244677,129.096872,1.0,0,...,00:00,00:00,00:00,00:00,NaN,부산광역시 금정구청,051-519-4414,2021-10-25,3350000,부산광역시 금정구
3,호계2차현대홈타운,8,경기도,안양시,경기도 안양시 동안구 경수대로 462 (호계동 호계2차현대홈타운),NaN,NaN,NaN,NaN,매출액 15퍼센트(VAT별도),...,NaN,NaN,NaN,NaN,NaN,경기도 안양시청,031-8045-4313,2022-12-07,3830000,경기도 안양시
4,안양종합운동장,8,경기도,안양시,경기도 안양시 동안구 평촌대로 389,경기도 안양시 동안구 비산동 1023,NaN,NaN,NaN,매출액 15퍼센트(VAT별도),...,NaN,NaN,NaN,NaN,NaN,경기도 안양시청,031-8045-4313,2022-12-07,3830000,경기도 안양시

In [8]:
foodtruck_df['시도명'].value_counts() #그냥 다 숫자를 세줌 ㅁㅊ

경기도        80
경상남도       48
충청북도       41
강원도        34
충청남도       24
서울특별시      17
제주특별자치도    17
광주광역시      14
전라남도       13
대구광역시      12
경상북도       11
부산광역시       9
인천광역시       8
전라북도        7
대전광역시       6
울산광역시       1
Name: 시도명, dtype: int64

In [16]:
print(foodtruck_df['시도명'].describe())
print(foodtruck_df['푸드트럭운영대수'].describe())
print(foodtruck_df[['시도명','푸드트럭운영대수']].describe())

count     342
unique     16
top       경기도
freq       80
Name: 시도명, dtype: object
count    251.000000
mean       1.768924
std        2.952015
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max       25.000000
Name: 푸드트럭운영대수, dtype: float64
         푸드트럭운영대수
count  251.000000
mean     1.768924
std      2.952015
min      0.000000
25%      1.000000
50%      1.000000
75%      1.000000
max     25.000000

In [34]:
sub_data = foodtruck_df[['시도명','푸드트럭운영대수']]
sub_data.groupby('시도명').sum()
sub_data.groupby('시도명').count()
sub_data.groupby('시도명').std()
sub_data.groupby('시도명').describe()
sub_data.groupby('시도명').aggregate([np.sum,np.mean,np.std])
sub_data.groupby('시도명').aggregate(lambda x : np.sum(x)*100)

         푸드트럭운영대수
시도명
강원도        2500.0
경기도       13600.0
경상남도       5700.0
경상북도       1700.0
광주광역시      1400.0
대구광역시       400.0
대전광역시      1200.0
부산광역시      1700.0
서울특별시      3500.0
울산광역시       100.0
인천광역시       900.0
전라남도       2900.0
전라북도       1000.0
제주특별자치도    4100.0
충청남도       3000.0
충청북도        700.0

In [26]:
foodtruck_df.describe() #둘러보기+
num_descr_df = foodtruck_df.describe()
#print(num_descr_df.columns)
#print(foodtruck_df.columns)

lista = list(num_descr_df.column)

for e in list(foodtruck_df.columns) :
    lista.remove(e)
print(lista)

AttributeError: 'DataFrame' object has no attribute 'column'